<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <nav style="margin-bottom:16px;">
      <a href="{{ '/' | relative_url }}">Home</a> |
      <a href="{{ '/about.html' | relative_url }}">About</a> |
      <a href="{{ '/logs.html' | relative_url }}">Logs</a> |
      <a href="{{ '/resources.html' | relative_url }}">Resources</a> |
      <a href="{{ '/contact.html' | relative_url }}">Contact</a>
    </nav>

    <main class="main-content">
      {{ content }}
    </main>
  </body>
</html>
